h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}
p{
    margin:0px;
    color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: #11293b;
    padding: 25px;
    margin-top: 50px;
}
footer p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}
.ml{
    margin-left:12.5%;
}
.jumbotron {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
    background-image: url(img/top-bg.jpg);
    /* background-image: radial-gradient(#b5b1b1, #404040, black); */
}
.jumbotron p, .jumbotron h1 {
    color: #fff;
}
.img-responsive {
    border: 2px solid #fff;
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s;
    cursor: pointer;
}
.img-responsive:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.top-titel {
    padding: 10px 0px;
    background-color: #11293b;
    margin: 50px 15px;
}

.top-titel h2 {
    margin-top: 0;
    color: #fff;
}